
<div class="carousel-container">

</div>

<div class="show-container-main">

	<div class="listing-profile-title">
		<!-- span across the whole thing --> 

		<div class="listing-profile-title-box listing-container">
			<div class="profile-circle">
				<img class="profile-image" src = "http://www.pclodge.com/wp-content/uploads/2014/08/placeholder.png">
			</div>

			<div class="listing-title">
				<h3><%= listing.escape('title') %></h3>
			</div>

			<div class="listing-location">
				<%= listing.escape('city') %>, <%=listing.escape('state')%>, United States
			</div>
	</div>

	<div class='listing-content listing-container listing-text'>
		<h4 class="listing-text">
			About This Listing
		</h4>
		
		<p>This is where the listing Description goes, it will be populated by a short summary of the space and what it has to offer</p>

		<div>Image goes here</div>

		<hr>

		<div class="left-aligned-listing-info">Description</div>

		<div class="description-text">
			<div id="the-space">The Space</div>
			<div id="description-here"><%=listing.escape('description')%>
		</div>


	</div>

	<div class="booking-container">
		<div class="price">
			<div class="price-amount"><h1>$100</h1></div>
			<div class="price-timeline">Per Night</div>
		</div>

		<div class="booking-form">
			<div>
				<form>
				  	<div class="form-group">

					    <div class="input-group date">
					      	<label for="check-in" class="booking-label">Check In</label>

					      	<input id="check-in" class="booking-form-input" type="text" name="booking[check_in]" placeholder="yyyy/mm/dd">
					    </div>

					    <div class="input-group date">
					      	<label for="check-out" class="booking-label">Check Out</label>

					      	<input id="check-out" class="booking-form-input" type="text" name="booking[check_out]" placeholder="yyyy/mm/dd">
					    </div>

				 	</div>

				    
					<button type="submit" class="booking-button">Request to Book</button>
				</form>
			</div>
		<div> 	
	</div>
</div>