<div class="container-show">
	<div class="carousel-container">

	</div>

	<div class="show-container-main">
		<div class="booking-container">
			<div class="price">
				<div class="price-amount"><h1>$100</h1></div>
				<div class="price-timeline">Per Night</div>
			</div>
		</div>
	<div> 


</div>