<div class="container-show">
	<div class="carousel-container">

	</div>

	<div class="show-container-main">

		<div class="listing-profile-title">

		</div>



		<div class="booking-container">
			<div class="price">
				<div class="price-amount"><h1>$100</h1></div>
				<div class="price-timeline">Per Night</div>
			</div>

			<div class="booking-form">
				<div>
					<form>
					  	<div class="form-group">

						    <div class="input-group date">
						      	<label for="check-in" class="booking-label">Check In</label>

						      	<input id="check-in" class="booking-form-input" type="text" name="booking[check_in]" placeholder="yyyy/mm/dd">
						    </div>

						    <div class="input-group date">
						      	<label for="check-out" class="booking-label">Check Out</label>

						      	<input id="check-out" class="booking-form-input" type="text" name="booking[check_out]" placeholder="yyyy/mm/dd">
						    </div>

					 	</div>

					    
						<button type="submit" class="booking-button">Request to Book</button>
					</form>
				</div>
			<div> 	
		</div>
	</div>


</div>