<div class="filter-label">Price</div>

<div class="slider-container">
	<div class="slider"></div>
	<span class="example-val left" id="span-lower"></span>
	<span class="example-val right" id="span-upper"></span>
</div>	
