<div class="filter-label">Room Type</div>

<div class="checkbox-container">
	<form id="type-filters">
		<label>
	  	<input type="checkbox" name="room-type" value="entirePlace">  Entire Place
		</label>
	
		<label>
	  	<input type="checkbox" name="room-type" value="privateRoom">  Private Room
		</label>
	
		<label>
			<input type="checkbox" name="room-type" value="sharedRoom">  Shared Room
		</label>
	</form>
</div>