<div class="filter-label">Room Type</div>

<div class="checkbox-container">
	<form id="type-filters">
		<label>
	  	<input type="checkbox" name="room-type" value="entirePlace">  <img src="/assets/entire.svg" class="img-room-type">
		</label>
	
		<label class="room-type-label">
	  	<input type="checkbox" name="room-type" value="privateRoom">  <img src="/assets/private.svg" class="img-room-type">
		</label>
	
		<label class="room-type-label">
			<input type="checkbox" name="room-type" value="sharedRoom">  <img src="/assets/shared.svg" class="img-room-type">
		</label>
	</form>
</div>