<div class="sidebar-lists">
	<% listings.forEach(function(listing){ %>
		<div class="listing-box">
			<div class="image-box"></div>
			<div class="listing-text">
				<%=listing.escape('title')%>
				Price:<%=listing.escape('price')%>
				room type:<%=listing.escape('room_type')%>
			</div>
		</div>
	<% }) %> 
</div>



