<div class="listing-box">	
	<div id="show-carousel" class="owl-carousel">
			<% images.forEach(function(image) { %>
				<div class="item"><img src="<%= image.escape("url") %>"></div>
			<% }) %>
			
	</div>
</div>
<a href="#/listings/<%=listing.escape("id")%>">
	<h5><%= listing.escape('title') %></h5>
</a>



        
          
 