<div class="navbar-vw"></div>
<div class="map"></div>
<div class="sidebar">
	<div class="reservation-filters"></div>
	<hr class="sidebar-span">
	<div class="checkboxes"></div>
	<hr class="sidebar-span">
	<div class="bells-and-whistles"></div>
</div>
<div class="lists"></div>

