/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require jquery-ui
 *=require jquery.nouislider
 *=require jquery-ui.structure
 *=require jquery-ui.theme
 *=require owl.carousel
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*SIGNIN SIGNUP*/

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin #name {
	margin-bottom: -21px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.form-signin #email {
	margin-bottom: -21px;
	border-radius: 0px;
}

.form-signin #password {
	margin-bottom: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.form-signin .form-control {
	height: auto;
	padding: 10px;
}

.form-control {
	color: #555;
	border: 1px solid #ccc;
}

.form-signin-signup-heading {
	text-align: center;
}

body {
	background-color: #eee;
}

/*NAVBAR*/

.navbar-default {
    background-color: #393939;
    border-color: #393939;
}

.btn-sign-out {
	margin-top: 7px;
}


.masthead-nav {
	float: right;
}

.masthead, .mastfoot, .cover-container {
width: 700px;
}

.cover-container{
	margin-right: auto;
	margin-left: auto;
}

.nav {
	display: inline-flex;
}

.logo {
	margin-top: -14px;
}

#search-box{
	margin-top: 10px;
	width: 250px;
	height: 32px;
	border-radius: 2px;
	border-color: #e74d3d;
}

/*Root*/

.filter-label {
	float: left;
	color: white;
}

label {
	color: white
}

.root-container {
	margin-top: 50px;
}

.ui-menu-item {
	z-index: 901
}

.map-view {
	position: fixed;
	left: 0px;
	width: 40%;
	height: 100%;
	overflow-y: scroll;
}

.sidebar {
	position: fixed;
	right: 0px;
	height: 250px;
	width: 60%;
	background-color: rgb(68, 78, 89);
	overflow-y: scroll;
	z-index: 900;
}

.sidebar-lists {
	position: absolute;
	margin-top: 251px;
	right: 0px;
	width: 60%;
	overflow-y: scroll;
	padding-left: 50px;
}

.slider-container {
	position: relative;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 10%;
	overflow: visible;
}

.checkbox-container, .reservation-filter-container {
	position: relative;
	margin-bottom: 10px;
	margin-top: 5%;
	margin-left: 30%;
	overflow: hidden;
}

.form-control-dates {
	color: #555;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#map-canvas {
	width: 100%;
	height: 100%;
	margin: 0; 
}

#map {
   width: 500px;
   height: 500px;
 }
 
 /*map*/
 
 .pac-container.hdpi {
	 z-index: 10000;
 }
 
 #carousel-map-show {
	 height: 175px;
	 width: 200px;
 }
 
 .listing-box{
	 height: 225px;
	 width: 320px;
	 float: left;
	 margin: 10px;
 }
 
 .image-box{
	 height: 77%;
	 width: 100%;
	 background-color: lightgrey;
 }
 
 /*listings_index*/
 
 .right{
	 left: 89%;
 }
 
 .left{
	 right: 91%;
 }
 
 .example-val{
	 position: absolute;
	 color: white;
	 margin-top: 10px;
	 padding: 10px;
 }
 
 .filter-label {
	 margin-left: 5%;
 }
 
 #ui-id-1-button {
	 height: 100%;
	 position: absolute;
 }

.listing-box {
	z-index: -1;
}
 
 /* listing show */
 
 .container-show {
	 width: 100%;
	 height: 100%;
	 position: fixed;
	 background-color: white;
 } 
 
 .carousel-container {
	 width: 100%;
	 height: 100%;
	 position: fixed;
	 background-color: grey;
 }
 
 #show-carousel .item img{
     display: block;
     width: auto;
		 margin: 0 auto;
     height: 100%;
 }
 
 .owl-carousel {
	 position: absolute;
	 width: 100%;
	 height: 100%;
 }
 
 .owl-carousel .owl-wrapper-outer {
	 overflow: hidden;
	 position: relative;
	 width: 100%;
	 height: 100%;
	}
	
	.owl-wrapper {
		height: 100%;
		display: block;
		position: absolute;
	}
	
	.owl-item {
		height: 100%;
		background-color: black;
	}
	
	.item {
		height: 100%;
		width: auto;
	}
	
	.photo-container {
		position: relative;
		height: 100%;
	}

/* show */ 

.show-container-main {
	background-color: rgb(201, 195, 195);
	height: 100%;
	width: 100%;
	margin-top: 40%;
	position: relative;
}

.booking-container {
	width: 22%;
	position: initial;
	float: right;
	margin-top: -166px;
	margin-right: 135px;
	background-color: rgba(133, 133, 133, 0);
	border: 1px solid #969696;
	border-radius: 2px;
}

.price {
	background-color: rgba(96, 96, 96, 0.7);
	width: 100%;
	height: 39px;
	color: whitesmoke;
}

.price-amount {
	display: inline-block;
	margin-top: -22px;
}

.price-timeline {
	display: inline-block;
	float: right;
	padding-top: 17px;
}

.booking-form {
	background-color: white;
	height: 100%
}

.booking-form-input {
	border-radius: 2px;
	border-style: solid; 
	border-color: #DCE0E0;
	border-style: solid;
	border-width: 1px;
	width: 118px;
	text-align: center;
	height: 40px;
	font-size: 13px;
	color: #5B5F61;
}
.booking-label {
	color: #5B5F61;
	font-weight: normal;
	display: block;
	text-align: left;	
}

.form-group {
	background-color: white;
}

.input-group.date {
	display: inline-block;
	margin-left: 12px;
	margin-top: 10px
}

.booking-button {
	background-color: #FF5A5F;
	border-style: solid;
	border-color: #FF5A5F;
	border-radius: 2px;
	color: white;
	padding-left: 22%;
	padding-right: 23%;
	padding-top: 3%;
	padding-bottom: 4%;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 13px;
}

.listing-profile-title {
	height: 126px;
	width: 100%;
	background-color: white;
}



 
