
<div class="video-overlay">
	<div class="jumbo-text">Welcome Home</div>
	<div class="jumbo-text-sub">FOREVER O.O</div>
</div>

<div class="root-search-container">
	<div class="root-form">
		<form>
			<input type="text" id="map-search" class="main-map-search">
			<button type="submit" class="main-booking-button button-waiting">Search</button>
		</form>
	</div>
</div>

