<div class="navbar-vw"></div>
<div class="root-image">
	<img class="splash-img" src="assets/splash.jpg">
</div>


<div class="video-overlay">
	<div class="jumbo-text">Welcome Home</div>
	<div class="jumbo-text-sub">FOREVER O.O</div>
</div>

<div class="root-search-container">
	<div class="root-form">
		<form class="form-search">

			<input type="text" id="map-search" class="main-map-search">
			<div class="input-daterange input-group" id="datepicker">
		    <input type="text" class="main-day-search" name="start" placeholder="Check In" />
		    <input type="text" class="main-day-search root-end-date" name="end" placeholder="Check Out" />
			</div>
		
			<button type="submit" class="main-booking-button button-waiting">Search</button>
		</form>
	</div>
</div>


<div class="root-splash">
	<h2 class="root-title">Weird Weekends</h2>
	<div class="root-description">"Pay to get in. Pray to get out."</div>

	<div class="root-city-container">
		<img src="assets/dc-root.jpg" class="root-city" data-lat="38.8951" data-lng="-77.0367">
		<div class="root-city-name">Washington DC</div>
	</div>
	
	<div class="root-city-container">
		<img src="assets/san-francisco-root.jpg" class="root-city" data-lat="37.7833" data-lng="-122.4167">
		<div class="root-city-name">San Francisco</div>
	</div>
	
	<div class="root-city-container">
		<img src="assets/new-york-root.jpg" class="root-city" data-lat="40.7127" data-lng="-74.0059">
		<div class="root-city-name">New York</div>
	</div>
</div>

<div class="root-footer">
	<p>This site was built Andrew Strachan using a Ruby on Rails Backend and Backbone.js Frontend</p>
	
	<p>Contact Andrew by <a href="mailto:andrewastrachan@outlook.com" class="root-link">Email</a> |  
	Phone (770) 312-9877</p>
	
	<p><a href="http://andrewastrachan.github.io" class="root-link">Personal Website</a> | <a href="http://www.github.com/andrewastrachan/scare_bnb" class="root-link">See the code</a>

</div>
