<form id="type-filters">
	<label>Entire Place
  	<input type="checkbox" name="room-type" value="entirePlace">
	</label>
	
	<label>Private Room
  	<input type="checkbox" name="room-type" value="privateRoom">
	</label>
	
	<label>Shared Room
		<input type="checkbox" name="room-type" value="sharedRoom">
	</label>
</form>