<form id="type-filters">
	<label>Entire Place
  	<input type="checkbox" name="room-type" value="Entire Place">
	</label>
	
	<label>Private Room
  	<input type="checkbox" name="room-type" value="Private Room">
	</label>
	
	<label>Shared Room
		<input type="checkbox" name="room-type" value="Shared Room">
	</label>
</form>