<div class="sidebar-lists">

<ul>
	<% listings.forEach(function(listing){ %>


		<li><%=listing.escape('title')%>, Price:<%=listing.escape('price')%>, room type:<%=listing.escape('room_type')%> </li>

	<% }) %> 
</ul>



